*, *::before, *::after {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body {

    max-width: 1280px;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem;
}

button {
    margin: 5px 1rem;
    padding: .5rem;
}

label {
    display: block;
}

table {
    margin: 0 1rem;
}

#title {
    margin: 0;
    padding: 2px 0.5rem;
    text-align: center;
}

.submitButton {
    width: 100%;
}

#puzzleDetails ~ td {
    font-size: 1.3rem;
    padding: 2px 8px;
}

.solution > p {
    padding: 0 1rem;
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}
.solution > table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 10px;
    background: white;
}

.sq {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px 14.5px 6px 2px;
}
.black {
    background-color: black;
}

.number {
    vertical-align: super;
    text-size-adjust: 60%;
}

#solutions {
    display: flex;
    flex-wrap: wrap;
}

.solution {
    margin: 10px;
    padding: 0.5rem;
    background: rgba(0,0,0,0.1);
    border-radius: 16px;
    box-shadow: 2px 2px;
}

#diagram {
    width: 100vw;
}

.loader {
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    transform: opacity 2.75s, visibility 2.75s;
}
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: blue;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}