*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: system-ui, "Open Sans", Arial;
    cursor: auto;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p,
li {
    font-size: 1.2rem;
}

p {
    margin: .3rem 0;
    padding: 0.3rem;
}

summary,
summary h2,
details {
    cursor: pointer
}

.content-grid,
.full-width {
    --padding-inline: 2rem;
    --content-max-width: 800px;
    --breakout-max-width: 1200px;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - var(--padding-inline) * 2, var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end]
}

.content-grid>*,
.full-width>* {
    grid-column: content;
}

.content-grid>.breakout {
    grid-column: breakout;
}

.content-grid>.full-width {
    grid-column: full-width;
}

hr {
    margin-left: 0;
    margin-right: 0;
}

.flexSummary {
    display: inline;
    font-size: 1rem;
}

.sectionHead {
    display: inline;
    font-size: 1rem;
    font-weight: bold;
}


#options {
    display: flex;
    justify-content: center;
}

.formHeader {
    margin-top: .5rem;
    margin-bottom: 0;
}


.submitButton {
    font-size: 1.4rem;
    width: 80%;
    background-color: rgb(200, 200, 200);
    border-radius: 16px;
    box-shadow: 2px 2px;
    border: none;
    transition: all 0.3s;
    margin: 1rem;
}

.submitButton:hover {
    color: #fff;
    background-color: rgb(50, 50, 50);
}



table {
    margin: 0 1rem;
}

#title {
    margin: 0;
    padding: 2px 0.5rem;
    text-align: center;
}


.verticalLine {
    border-left: 2px solid black;
}


#puzzleForm {
    margin: 0.3rem;
}

.inputForm {
    display: table;
}

.inputForm p {
    display: table-row;
    font-size: 1rem;

}

.inputForm input,
.inputForm select {
    display: table-cell;
    font-size: 1.1rem;
}

.inputForm label {
    display: table-cell;
    padding: 0 1rem;
}

.exampleForm input,
.exampleForm select {
    width: 100px;
}


#prefilledButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#prefilledButtons>* {
    margin: 5px;
}

#puzzleDetails~td {
    font-size: 1.3rem;
    padding: 2px 8px;
}


.required:after {
    content: " *";
    color: red;
}

.solHead {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.solution>p {
    padding: 0 1rem;
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}

.solutionTable {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 10px;
    background: white;
    flex: 2 1 auto;
    aspect-ratio: 1 / 1;
}

.sq {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    vertical-align: baseline;
    padding: 2px;
    min-width: 2rem;
    min-height: 2rem;
    width: 2rem;
    height: 2rem;
}

.black {
    background-color: black;
    text-align: center;
    vertical-align: middle;
}

.number {
    vertical-align: super;
    text-size-adjust: 60%;
}

#solutions {
    display: flex;
    flex-wrap: wrap;
}

.solution {
    margin: 10px;
    padding: 0.5rem;
    background: rgb(200, 200, 200);
    border-radius: 16px;
    box-shadow: 2px 2px;
}


.flex {
    display: flex;
}

.printMain {
    display: flex;
}

.print,
.printClueHead {
    text-align: left;
}


.acrossDetails,
.downDetails {
    width: 100%;
    flex: 1 1 0;
}


.explaination {
    display: flex;
    justify-content: space-between;
}

.explainationItem {
    flex-basis: content;
}

.gridTable {
    flex: 1;
}

.arrow {
    flex: 0;
    font-size: 1.6rem;
    flex-basis: 0;
    margin: auto 0;
    padding: 3px
}

.exampleHeader {
    margin: .2rem;
    text-decoration: underline;
    text-align: center;
}

.exampleList {
    margin: auto;
    list-style-type: none;
    padding-left: 0;
}

.exampleList>li {
    font-size: 1rem;
}

.examplePuzzleDiv {
    display: flex;
}

.exampleInput {
    width: max(65px, 100%);

}


.hint {
    width: max-content;
    min-width: 50px;
    color: grey;
    border: 1px solid black;
    background-color: grey;
    display: inline-block;
    cursor: pointer;
}

.hint:hover,
.hint:focus {
    display: inline-block;
    color: black;
    background-color: white;
}

#diagram {
    width: var(--content-max-width);
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    transform: opacity 2.75s, visibility 2.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: blue;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@media screen and (max-width: 700px) {
    #options {
        display: flex;
        flex-wrap: wrap;
    }

    .verticalLine {
        display: none;
    }

}

@media print {
    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}