*, *::before, *::after {
    box-sizing: border-box;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p, li {
    font-size: 1.2rem;
}
p {
    margin: .3rem 0;
    padding: 0.3rem;
}

.content-grid,
.full-width {
    --padding-inline: 2rem;
    --content-max-width: 1000px;
    --breakout-max-width: 1200px;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2 );

    display: grid;
    grid-template-columns:
      [full-width-start]
      minmax(var(--padding-inline), 1fr)
      [breakout-start]
      minmax(0, var(--breakout-size))
      [content-start]
      min(100% - var(--padding-inline) * 2, var(--content-max-width)) 
      [content-end]
      minmax(0, var(--breakout-size))
      [breakout-end]
      minmax(var(--padding-inline), 1fr)
      [full-width-end]
}

.content-grid > *,
.full-width > * {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
}

hr {
    margin-left: 0;
    margin-right: 0;
  }

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#options {
    display: flex;
    justify-content: center;
}


.submitButton {
    font-size: 1.4rem;
    width: 80%;
    background-color: rgb(200,200,200);
    border-radius: 16px;
    box-shadow: 2px 2px;
    border: none;
    transition: all 0.3s;
    margin: 1rem;
}
.submitButton:hover {
    color: #fff;
    background-color: rgb(50,50,50);
}



table {
    margin: 0 1rem;
}

#title {
    margin: 0;
    padding: 2px 0.5rem;
    text-align: center;
}

.inputOption {
    background-color: rgb(200,200,200);
    width: fit-content;
    padding: 0.5rem 1rem;
    margin: 10px;
    border-radius: 16px;
    box-shadow: 2px 2px;
}
.verticalLine {
    border-left: 2px solid black;
}

#puzzleForm {
    display: flex;
    flex-direction: column;
}

#prefilledButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#puzzleDetails ~ td {
    font-size: 1.3rem;
    padding: 2px 8px;
}

.solHead {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.solution > p {
    padding: 0 1rem;
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}
.solutionTable {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 10px;
    background: white;
}

.sq {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    vertical-align: baseline;
    padding: 2px;
    min-width: 2rem;
    min-height: 2rem;
    width: 2rem;
    height: 2rem;
}
.black {
    background-color: black;
    text-align: center;
    vertical-align: middle;
}

.number {
    vertical-align: super;
    text-size-adjust: 60%;
}

#solutions {
    display: flex;
    flex-wrap: wrap;
}

.solution {
    margin: 10px;
    padding: 0.5rem;
    background: rgb(200,200,200);
    border-radius: 16px;
    box-shadow: 2px 2px;
}

.printMain {
    display: flex;
}

.print,
.printClueHead {
    text-align: left;
}

.acrossDetails,
.downDetails {
    width: 100%;
}

#diagram {
    width: var(--content-max-width);
}

.loader {
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    transform: opacity 2.75s, visibility 2.75s;
}
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: blue;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@media screen and (max-width: 700px) {
    #options {
        display:flex;
        flex-wrap: wrap;
    }
    .verticalLine {
        display: none;
    }

}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}