<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js" defer></script>
    <title>Diagramless Solver</title>
</head>
<body class="content-grid">
    <header>
        <a href='/'><box-icon type='solid' name='home' animation='tada-hover'></box-icon></a>
        <h1 id="title">Diagramless Crossword Solver</h1>
        <a href='/info'><box-icon name='info-circle' type='solid' animation='tada-hover'></box-icon></a>
    </header>
    <hr/>
    {% if not puzzle %}
    <h2>No puzzle found</h2>

    {% else %}
    <table>
        <tr>
            <th>Across clues:</th>
        </tr>
        {% for num in puzzle.get('acrossClues').split(' ') %}
        <tr>
            <td> {% num %}. </td>
        </tr>
        {% endfor %}
        <tr>
            <th>Down clues:</th>
        </tr>
        {% for num in puzzle.get('downClues').split(' ') %}
        <tr>
            <td>{% num %}. </td>
        </tr>
        {% endfor %}

    </table>
    {% endif %}

    {% if not solutions %}
    <h2>No solutions found</h2>

    {% else %}

    <div id="solutions">
        {% for sol in solutions %}
        <div class="solution">
            <p>Solution {{ loop.index }}</p>
            <box-icon type='solid' name='printer'></box-icon>
            <table>
                <tbody>
                    <tr>
                        {% for sq in sol.split(' ') %}
                        {% if sq == '\n' %}
                    </tr>
                    {% if loop.index != loop.length %}
                        <tr>
                    {% endif %}
                        {% elif sq == '▇▇' %}
                        <td class="sq black"></td>
                        {% elif sq == '--' %}
                        <td class="sq">  </td>
                        {% else %}
                        <td class="sq"><sup>{{sq}}</sup></td>
                        {% endif %}
                        {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</body>
</html>